.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#aiAppContainer {
    width: 98%;
}
.container > p#replaceme {
    font-size: 24px;
}
.aiElementTitle {
    color: black;
    font-size: 22px;
    display: block;
    margin-bottom: 4px;
}
.aiCategories {
    height: 500px;
    margin-bottom: 40px;
}
.aiElement20 {
    height: 20%;
}
.dropdown {
    background-color: #FAFAFA;
    border-radius: 3px;
    padding: 6px 3px 6px 3px;
    position: relative;
    display: inline-block;
    border: black 1px solid;
    margin-left: 2px;
}
.dropdown:hover {
    cursor: pointer;
}
.dropdownText {
    font-size: 20px;
    color: black;
    padding: 0px 3px 0px 3px;
}
.dropdownText img {
    z-index: -1;
    width: 15px;
    height: auto;
    margin-right: 3px;
}
.dropdownText div {
    display: inline-block;
}
.dropdown > .dropdownOptions {
    background-color: #fafafa;
    margin: 2px -4px 0px -4px;
    position: absolute;
    min-width: 220px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    z-index: 1;
    display: none;
}
.dropdown > .dropdownOptions > div {
    display: block;
    color: black;
    font-size: 18px;
    padding: 3px 3px 6px 3px;
    border-radius: 1px;
    border-top: 1px solid black;
}
.dropdown > .dropdownOptions > div:hover {
    background-color: #F5F5F5;
}
.dropdown > .dropdownOptions > div:active {
    background-color: #F5F5F5;
}
.aiElement80 {
    height: 80%;
}
.checkboxes {
    border: 1px solid black;
    margin-right: 0px!important;
    margin-left: 0px!important;
    height: 75%;
    overflow: auto;
    padding-bottom: 0px!important;
}
#checkboxOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: #FAFAFA;
}
#checkboxOverlay p {
    font-size: 35px;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 1.3;
}
#checkboxInfo {
    display: none;
    height: 100%;
    position: relative;
    background-color: rgba(0,0,0,.1);
    overflow: auto;
}
#closegrid {
    position: absolute;
    width: 30px;
    height: auto;
    right: 20px;
    border-radius: 99px;
    z-index: 10000;
}
#closegrid:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.1);
}
#closegrid:active {
    cursor: wait;
    background-color: rgba(0,0,0,.1);
}
#checkboxInfo li {
    font-size: 16px;
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
}
#checkboxInfo div {
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}
#checkboxInfo p {
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 3px;
}
#checkboxInfoTitle {
    font-size: 24px;
    height: 10%;
}
.infoStyle {
    margin-top: 3px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FAFAFA;
    margin-top: 20px;
}
#checkboxInfoInstructions {
    margin-bottom: 20px;
}
#checkboxGrid {
    display: none;
    background-color: #FAFAFA;
}
#checkboxGrid label {
    display: flex;
    align-items: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    margin-bottom: 0!important;
    font-size: 16px;
    height: 80px;
    overflow: hidden;
}
#checkboxGrid label input {
    transform: scale(1.5);
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}
#checkboxGrid label img {
    display: inline-block;
    border: black solid 1px;
    font-size: 15px;
    border-radius: 9999px;
    margin-left: 5px;
    text-align: center;
    width: 25px;
}
#checkboxGrid label img:hover {
    cursor:pointer;
    background-color: rgba(0,0,0,.1);
}
#checkboxGrid label img:active {
    cursor:wait;
    background-color: rgba(0,0,0,.1);
}
.buttons {
    margin-top: 20px;
    height: 25%;
}
.buttons > div {
    padding: 8px 10px 8px 10px;
    background-color: #fe5f4c;
    color: white;
    border-radius: 3px;
    font-size: 20px;
    display: inline-block;
}
.buttons > button {
    padding: 8px 10px 8px 10px;
    background-color: #fe5f4c;
    color: white!important;
    font-weight: 600;
    border-radius: 3px;
    font-size: 20px!important;
    display: inline-block;
    border: none;
}
.scrollArrow {
    display: none;
    text-align: center;
    margin-top: 10px;
    color: black;
}
.scrollArrow img {
    width: 60px;
    height: auto;
}
.scrollArrow div {
    color: black;
    font-size: 18px;
}
#checkedToQuery {
    display: inline-block;
}
#queryToList {
    display: inline-block;
}
.buttons > div:hover {
    cursor: pointer;
    background-color: #FF8A80;
}
.buttons > div:active {
    cursor: wait;
    background-color: #FF8A80;
}
.aiSelections {
    height: 500px;
}
#queryBox {
    width: 100%;
    border: 1px black solid;
    border-radius: 4px;
    height: 100%;
    overflow: auto;
    padding: 8px;
    background-color: #FAFAFA;
}
#queryBox > div {
    font-size: 20px;
    margin-bottom: 10px;
}
.queryBoxSelectionContainer {
    padding: 0;
    border-bottom: 1px solid black;
    min-height: 45px!important;
}
.queryBoxSelection {
    padding: 0px!important;
    min-height: 45px!important;
    font-size: 0px;
}
.queryBoxSelection img {
    padding-top: 14px;
}
.queryBoxMeal {
    padding-left: 5px!important;
    padding-right: 5px!important;
    min-height: 45px!important;
    line-height: 45px;
}
.queryBoxMeal p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 0px!important;
    font-size: 16px;
}
.queryBoxRemove {
    padding-left: 0px!important;
    padding-right: 0px!important;
    min-height: 45px!important;
}
.queryBoxRemove img {
    width: 22px;
    height: auto;
    padding-top: 11.5px;
}
.queryBoxRemove:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.1);
}
.queryBoxRemove:active {
    cursor: wait;
    background-color: rgba(0,0,0,.1);
}
.rightArrow {
    width: 12px;
    height: auto;
}
.aiListContainer {
    display: none;
}
.resultsTitle {
    font-size: 28px;
    text-align: center;
}
.emailContainer {
    text-align: center;
}
.emailContainer input {
    display: inline-block;
    height: 44px;
    width: 300px;
}
.resultsEmail {
    text-align: center;
    margin-bottom: 30px;
}
.resultsEmail input[type="text"] {
    width: 250px;
    height: 38px;
    border-radius: 4px;
    font-size: 20px;
}
.recipeHeader {
    font-size: 24px;
}
#aiResults {
    display: block;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
}
#aiResults header {
    font-size: 22px;
    font-weight: 600;
}
#aiResults section {
    font-size: 20px;
    margin-left: 20px;
    border-bottom: 1px solid black;
}
#aiResults li {
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px;
}

#aiResults2 {
    display: none;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
}
#aiResults2 header {
    font-size: 22px;
    font-weight: 600;
}
#aiResults2 .recipeIngredients {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-top: 2px solid black;
    font-size: 20px;
}
#aiResults2 .recipeInstructions {
    padding: 15px;
    background-color: #fafafa;
    border: 1px solid black;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
#aiResults2 div {
    font-size: 24px;
}
#aiResults2 li {
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px;
}
#aiResults2 p {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 0;
}

@media (max-width: 350px) {
    #aiAppContainer {
        max-width: 300px;
    }
    .aiCategories {
        height: 550px;
    }
    #checkboxGrid label {
        font-size: 16px;
        padding: 5px;
    }
    #checkboxGrid label img {
        width: 20px;
    }
    #checkboxOverlay p {
        font-size: 30px;
        line-height: 1.3;
    }
    .buttons > div {
        padding: 6px 7px 6px 7px;
        font-size: 16px;
    }
    .scrollArrow {
        display: block;
    }
    .aiResultsButton {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .aiResultsButton div {
        margin-top: 8px;
        font-size: 14px;
        display: block;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 5px;
    }
    .resultsTitle {
        font-size: 20px;
    }
    .resultsEmail {
        margin-bottom: 0px;
    }
    .resultsEmail input[type="text"] {
        width: 200px;
        height: 30px;
        border-radius: 4px;
        font-size: 16px;
    }
    .recipeHeader {
        font-size: 18px;
        font-weight: 600;
    }
    #aiResults {
        display: block;
        margin-top: 20px;
        border: 1px solid black;
        border-radius: 8px;
        padding: 5px;
    }
    #aiResults header {
        font-size: 22px;
        font-weight: 600;
    }
    #aiResults section {
        font-size: 16px;
        margin-left: 10px;
        border-bottom: 1px solid black;
    }
    #aiResults li {
        font-size: 14px;
        font-weight: normal;
        margin-left: 10px;
    }

    #aiResults2 {
        display: none;
        margin-top: 20px;
        border: 1px solid black;
        border-radius: 8px;
        padding: 5px;
    }
    #aiResults2 header {
        font-size: 22px;
        font-weight: 600;
    }
    #aiResults2 .recipeIngredients {
        padding-left: 3px;
        padding-right: 3px;
        margin-bottom: 10px;
        border-top: 2px solid black;
        font-size: 16px;
    }
    #aiResults2 .recipeInstructions {
        padding: 10px;
        background-color: #fafafa;
        border: 1px solid black;
        margin-bottom: 10px;
        font-size: 16px;
    }
    #aiResults2 div {
        font-size: 18px;
    }
    #aiResults2 li {
        font-size: 14px;
        font-weight: normal;
        margin-left: 10px;
    }
    #aiResults2 p {
        font-size: 14px;
        font-weight: normal;
    }
}
@media (max-width: 480px) and (min-width:350px) {
    #aiAppContainer {
        max-width: 300px;
    }
    .aiCategories {
        height: 675px;
    }
    #checkboxGrid label {
        font-size: 16px;
        padding: 5px;
    }
    #checkboxGrid label img {
        width: 20px;
    }
    #checkboxOverlay p {
        font-size: 30px;
        line-height: 1.3;
    }
    .buttons > div {
        padding: 6px 7px 6px 7px;
        font-size: 20px;
    }
    .scrollArrow {
        display: block;
    }
    .aiResultsButton {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .aiResultsButton div {
        margin-top: 8px;
        font-size: 14px;
        display: block;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 5px;
    }
    .resultsTitle {
        font-size: 20px;
    }
    .resultsEmail {
        margin-bottom: 0px;
    }
    .resultsEmail input[type="text"] {
        width: 200px;
        height: 30px;
        border-radius: 4px;
        font-size: 16px;
    }
    #emailForm {
        width: 150px;
    }
    .recipeHeader {
        font-size: 18px;
        font-weight: 600;
    }
    #aiResults {
        display: block;
        margin-top: 20px;
        border: 1px solid black;
        border-radius: 8px;
        padding: 5px;
    }
    #aiResults header {
        font-size: 22px;
        font-weight: 600;
    }
    #aiResults section {
        font-size: 16px;
        margin-left: 10px;
        border-bottom: 1px solid black;
    }
    #aiResults li {
        font-size: 14px;
        font-weight: normal;
        margin-left: 10px;
    }

    #aiResults2 {
        display: none;
        margin-top: 20px;
        border: 1px solid black;
        border-radius: 8px;
        padding: 5px;
    }
    #aiResults2 header {
        font-size: 22px;
        font-weight: 600;
    }
    #aiResults2 .recipeIngredients {
        padding-left: 3px;
        padding-right: 3px;
        margin-bottom: 10px;
        border-top: 2px solid black;
        font-size: 16px;
    }
    #aiResults2 .recipeInstructions {
        padding: 10px;
        background-color: #fafafa;
        border: 1px solid black;
        margin-bottom: 10px;
        font-size: 16px;
    }
    #aiResults2 div {
        font-size: 18px;
    }
    #aiResults2 li {
        font-size: 14px;
        font-weight: normal;
        margin-left: 10px;
    }
    #aiResults2 p {
        font-size: 14px;
        font-weight: normal;
    }
}
@media (max-width: 690px) and (min-width: 480px) {
    #aiAppContainer {
        max-width: 420px;
    }
    .scrollArrow {
        display: block;
    }
    .aiResultsButton {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .aiResultsButton div {
        margin-top: 8px;
        font-size: 14px;
        display: block;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 5px;
    }
    #checkboxOverlay p {
        font-size: 30px;
        line-height: 1.3;
    }
    .resultsTitle {
        font-size: 20px;
    }
    .resultsEmail {
        margin-bottom: 0px;
    }
    .resultsEmail input[type="text"] {
        width: 200px;
        height: 30px;
        border-radius: 4px;
        font-size: 16px;
    }
    #emailForm {
        width: 150px;
    }
    .recipeHeader {
        font-size: 18px;
        font-weight: 600;
    }
    #aiResults {
        display: block;
        margin-top: 20px;
        border: 1px solid black;
        border-radius: 8px;
        padding: 5px;
    }
    #aiResults header {
        font-size: 22px;
        font-weight: 600;
    }
    #aiResults section {
        font-size: 16px;
        margin-left: 10px;
        border-bottom: 1px solid black;
    }
    #aiResults li {
        font-size: 14px;
        font-weight: normal;
        margin-left: 10px;
    }

    #aiResults2 {
        display: none;
        margin-top: 20px;
        border: 1px solid black;
        border-radius: 8px;
        padding: 5px;
    }
    #aiResults2 header {
        font-size: 22px;
        font-weight: 600;
    }
    #aiResults2 .recipeIngredients {
        padding-left: 3px;
        padding-right: 3px;
        margin-bottom: 10px;
        border-top: 2px solid black;
        font-size: 16px;
    }
    #aiResults2 .recipeInstructions {
        padding: 10px;
        background-color: #fafafa;
        border: 1px solid black;
        margin-bottom: 10px;
        font-size: 16px;
    }
    #aiResults2 div {
        font-size: 18px;
    }
    #aiResults2 li {
        font-size: 14px;
        font-weight: normal;
        margin-left: 10px;
    }
    #aiResults2 p {
        font-size: 14px;
        font-weight: normal;
    }
}
@media (max-width: 1000px) and (min-width: 690px) {
    #aiAppContainer {
        max-width: 600px;
    }
    .scrollArrow {
        display: block;
    }
    .resultsTitle {
        font-size: 20px;
    }
    .aiResultsButton {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .aiResultsButton div {
        margin-top: 20px;
        font-size: 16px;
    }
    #checkboxOverlay p {
        font-size: 30px;
        line-height: 1.3;
    }
}
@media (max-width: 1300px) and (min-width: 1000px) {
    #aiAppContainer {
        max-width: 880px;
    }
    .aiResultsButton div {
        margin-top: 20px;
    }
}
@media (min-width: 1300px) {
    #aiAppContainer {
        max-width: 1100px;
    }
}